<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rubyland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Fira+Sans:light,regular,medium,bold|Anonymous+Pro', media: 'all' %>

    <%= javascript_include_tag 'application', defer: true %>
  </head>

  <body>
    <div class="header">
      <div class="header-brand">
        <h1><%= link_to 'Rubyland', root_url %></h1>
        <div class="header-subtitle">
          news, opinion, tutorials, about <a href="https://www.ruby-lang.org/">ruby</a>, aggregated
        </div>
      </div>
      <div class="header-nav">
        <%= link_to "Sources", sources_path, class: "header-nav-item" %>
        <%= link_to "About", about_path, class: "header-nav-item" %>
      </div>
    </div>
    <div id="alert" class="head-alert" style="display: none;" role="alert"></div>

    <% if content_for?(:title) %>
      <h1 class="page-title"><%= content_for :title %></h1>
    <% end %>

    <div class="wrapper">
      <!-- one line so we can trigger empty css when absent -->
      <div class="controls"><%= content_for :controls %></div>
      <div class="main-column">
        <%= yield %>
      </div>
    </div>







  </body>
</html>
