<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rubyland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Fira+Sans:light,regular,medium,bold|Anonymous+Pro', media: 'all' %>

    <%= javascript_include_tag 'application', defer: true %>
  </head>

  <body>
    <div class="header">
      <div class="header-brand">
        <h1><%= link_to 'Rubyland', root_url %></h1>
        <div class="header-subtitle">
          news, opinion, tutorials, about <a href="https://www.ruby-lang.org/">ruby</a>, aggregated
        </div>
      </div>
      <div class="header-nav">

        <% if on_feed_entries_page? %>
          <% if titles_only? %>
            <%= link_to "Summaries", root_path, class: "header-nav-item" %>
          <% else %>
            <%= link_to "Titles Only", titles_only_path, class: "header-nav-item" %>
          <% end %>
        <% else %>
          <%= link_to "Entries", root_path, class: "header-nav-item" %>
        <% end %>

        <%= link_to "Sources", sources_path, class: "header-nav-item" %>
        <%= link_to "About", about_path, class: "header-nav-item" %>
      </div>
    </div>
    <div id="alert" class="head-alert" style="display: none;" role="alert"></div>


    <div class="wrapper">
      <div class="controls">
        <ul class="controls-ul">
          <li><a href="#">Example item</a></li>
          <li><a href="#">Example item</a></li>
        </ul>
      </div>
      <div class="main-column">
        <%= yield %>
      </div>
    </div>







  </body>
</html>
