<!DOCTYPE html>
<html>
  <head>
    <title>Rubyland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="header">
      <div class="header-brand">
        <h1><%= link_to 'Rubyland', root_url %></h1>
        <div class="header-subtitle">
          news, opinion, tutorials about <a href="https://www.ruby-lang.org/en/">ruby</a>, aggregated
        </div>
      </div>
      <div class="header-nav">
        <%= link_to "Sources", sources_path, class: "header-nav-item" %>
        <%= link_to "About", about_path, class: "header-nav-item" %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
